body{
    background-color: rgb(12, 12, 12);
}
h1{
    display: flex;
    justify-content: center;
    color: blanchedalmond;
    border: 2px solid saddlebrown;
    padding: 1rem;
}
header{
    display: flex;
    justify-content: center;
    color: blanchedalmond;
    border: 2px solid saddlebrown;
    padding: 1rem;
}
a{
    font-size: large;
    color: burlywood;
    text-decoration: none;
    padding: 2rem;
}
.nav-link a:hover{
    transform: scale(1.3);
    text-decoration: solid;
    text-shadow: 3px;;
}